body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #333;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}

h4 {
    font-size: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

p, h4 {
    font-size: 20px;
    margin-bottom: 0;
}

ul, ol {
    margin: 0;
}

table tr td {
    padding: 5px;
    border: 1px solid black;
}

table th {
    border: 1px solid black;
    padding: 5px;
}

img {
    height: 30px;
    width: auto;
}